@page
@model CreateModel

@{
    ViewData["Title"] = "Create Dependente";
}

<h1>Create</h1>

<h4>Dependente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dependent.ID" class="control-label"></label>
                <input asp-for="Dependent.ID" class="form-control" />
                <span asp-validation-for="Dependent.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependent.EmployeeID" class="control-label"></label>
                <select asp-for="Dependent.EmployeeID" class ="form-control" asp-items="ViewBag.EmployeeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dependent.name" class="control-label"></label>
                <input asp-for="Dependent.name" class="form-control" />
                <span asp-validation-for="Dependent.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependent.cpf" class="control-label"></label>
                <input asp-for="Dependent.cpf" class="form-control" />
                <span asp-validation-for="Dependent.cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependent.dateBirth" class="control-label"></label>
                <input asp-for="Dependent.dateBirth" class="form-control" />
                <span asp-validation-for="Dependent.dateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependent.Gender" class="control-label"></label>
                <input asp-for="Dependent.Gender" class="form-control" />
                <span asp-validation-for="Dependent.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
