@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.ID" />
            <div class="form-group">
                <label asp-for="Employee.AreaID" class="control-label"></label>
                <select asp-for="Employee.AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>
                <span asp-validation-for="Employee.AreaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.name" class="control-label"></label>
                <input asp-for="Employee.name" class="form-control" />
                <span asp-validation-for="Employee.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.cpf" class="control-label"></label>
                <input asp-for="Employee.cpf" class="form-control" />
                <span asp-validation-for="Employee.cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.dateBirth" class="control-label"></label>
                <input asp-for="Employee.dateBirth" class="form-control" />
                <span asp-validation-for="Employee.dateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.paycheck" class="control-label"></label>
                <input asp-for="Employee.paycheck" class="form-control" />
                <span asp-validation-for="Employee.paycheck" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Employee.payment" /> @Html.DisplayNameFor(model => model.Employee.payment)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Gender" class="control-label"></label>
                <input asp-for="Employee.Gender" class="form-control" />
                <span asp-validation-for="Employee.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
