@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <table>
                <tr>
                    <th>
                        Nome da Área
                    </th>
                    <th>
                        Funcionários
                    </th>
                </tr>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaID)
                        </td>
                        <td>
                            @item.EmployeeCount
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row mb-auto">
    <div class="col-md-12">
        <h1>Aqui ficará a tabela com a listagem de Áreas</h1>
    </div>
</div>