@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <table id="table_chart">
                <tr>
                    <th>
                        Nome da Área
                    </th>
                    <th>
                        Funcionários
                    </th>
                </tr>
                @foreach (var item in Model.Employees)
                {
                    <tr data-area="@Html.DisplayFor(modelItem => item.AreaName)" data-count="@item.EmployeeCount">
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaName)
                        </td>
                        <td>
                            @item.EmployeeCount
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="row mb-auto">
    <div id="chart" class="col-md-12">
        
    </div>
</div>