@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                 Espaço mais Amplo para colocar o DashBoard de Funcionários por Área
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-auto">
    <div class="col-md-12">
        <h1>Aqui ficará a tabela com a listagem de Áreas</h1>
    </div>
</div>